<html>
  <head>
    <title>Product Catalogue</title>
    <style>
      body {
        font-family: "Arial";
      }
    </style>
  </head>
  <body>
    <h2>Product Catalogue</h2>
    <a href ="{% url 'home' %}">Home</a>
    <br /><br />
    <form method="get">
      <input type="text" name="q" value="{{ query|default:'' }}" />
      <button type="submit">Search</button>
      
      <!-- prettier-ignore-start -->
      <select name="category">
        <option value="" {% if not selected_categories %}selected{% endif %}> -- All Categories -- </option>
        {% for main in main_categories %}
          <optgroup label ="{{ main.name }}">
            <option value="{{ main.id }}" {% if main.id|stringformat:"s" in selected_categories %}selected{% endif %}> All {{ main.name }} </option>
            {% for sub in main.category_set.all %}
              <option value="{{ sub.id }}" {% if sub.id|stringformat:"s" in selected_categories %}selected{% endif %}>&nbsp;&nbsp;{{ sub.name }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
      <!-- prettier-ignore-end -->
       
      <button type="submit">Filter</button>
      <a href="{% url 'products' %}">Clear Filters</a>
    </form>
    <p>Total: {{ page_obj.paginator.count }} products</p>
    <p>Showing Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?{% if query %}q={{ query }}&{% endif %}{% for cat in selected_categories %}category={{ cat }}&{% endfor %}page={{ page_obj.previous_page_number }}">Prev</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if num == 1 %}
          <a href="?{% if query %}q={{ query }}&{% endif %}{% for cat in selected_categories %}category={{ cat }}&{% endfor %}page=1">1</a>
        {% endif %}
        {% if num == page_obj.number and num != 1 and num != page_obj.paginator.num_pages %}
          <span>{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' and num != 1 and num != page_obj.paginator.num_pages %}
          <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% if num == page_obj.paginator.num_pages %}
          <a href="?{% if query %}q={{ query }}&{% endif %}{% for cat in selected_categories %}category={{ cat }}&{% endfor %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?{% if query %}q={{ query }}&{% endif %}{% for cat in selected_categories %}category={{ cat }}&{% endfor %}page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
    <table border="1" cellpadding="5" cellspacing="0" style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 20px;">
      <tr>
        <th>SKU</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Sub-category</th>
        <th>Stock Status</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category.parent }}</td>
        <td>{{ product.category }}</td>
        <td>{% if product.is_active %}Active{% else %}Inactive{% endif %}</td>
        <td>${{ product.price }}</td>
        <td>{{ product.rating }}</td>
        <td>
          <a href="">Edit | </a>
          <a href="">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td style="text-align: center" colspan="8">No products found.</td>
      </tr>
      {% endfor %}
    </table>
    <br /><br />
  </body>
</html>
